body {
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.display{
    border: 2px solid black;
    height: 20px;
    width: 150px;
    text-align: right;
    padding: 10px;
}