body {
    margin: 0;
    box-sizing: border-box;
}

#inputBox {
    text-align: right;
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 46px;
    appearance: none;
    transition: border 0.15s ease 0s;

    :focus {
        outline: none;
        box-shadow: none;
        border-color: none;
    }

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #191919;
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 0;
}

.calc-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #2D4263;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    
}

.button {
    padding: 0;
    margin: 0 0.5px;
    width: 55px;
    height: 55px;
    font-size: 15px;
    border-radius: 10px;

}

.row {
    display: flex;
    gap: 0.5rem;
}

.button-0 {
    flex-grow: 2;

}